*{
    margin: 0;
    padding: 0;
}
.container{
    display: grid;
    grid-template-columns: 1fr 2fr;
}
.Derecha{
    grid-column: 2;
    grid-row: 1;
    padding: 15px;
}
.Izquierda{
    grid-column: 1;
    grid-row: 1;
    padding: 15px;
    background-color: blueviolet;
}
.Bloque1I img{
    width: 180px;
    height: 200px;
}
.Bloque1I{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}
.Bloque1I h1, .Bloque2I, .Bloque3I, .Bloque4I, .Bloque5I, .Bloque6I{
    color: white;
}
.Bloque2I , .Bloque3I, .Bloque4I, .Bloque5I h1,.Bloque6I h1{
    text-align: center;
}
.Bloque3I, .Bloque4I, .Bloque1D ,.Bloque2D ,.Bloque3D{
    margin: 50px;
    
}
.Bloque3I ul,.Bloque4I ul, .Bloque5I ul ,.Bloque6I ul,.Bloque2D ul{
    list-style:none;
}
.InstitucionEducativa, .Morado ,.Fucsia{
    font-weight: 1000;
}
.CuadroGrande{
    background-color: blueviolet;
    color: white;
}
.Morado ,.Bloque1D h4{
    color: blueviolet;
}
.Fucsia{
    color: rgb(245, 31, 209);
}
.Bloque3D h4{
    display: flex;
    justify-content: space-between;

}

